<ul class='nav-lang'>
  <li><a href="/ru" class='{{classCurrentRu}}'>ru</a></li>
  <li><a href="/ua" class='{{classCurrentUa}}'>ua</a></li>
  <li><a href="/" class='{{classCurrentEn}}'>en</a></li>
</ul>