<!--main container-->
<main>
    <article class="resume">
        <div class="container">
            <div class="name-container">
                <h2 class="title accent">Front-End разработчик</h2>
                <h1 class="title name">Елена Харченко</h1>
            </div>
            <div class="flex-container">
                <section class="contacts-skills">
                    <img class="my-photo" src="./../images/photo.jpg" alt="My photo" />

                    <div class="element-wrapper">
                        <div class="element">
                            <span class="title title-color-change">Мой гитхаб: </span><a class="item"
                                href="https://github.com/olena-kharchenko"
                                target="_blank">https://github.com/olena-kharchenko</a>
                        </div>
                        <h3 class="title title-color-change">Контакты</h3>
                        <address class="contacts element">
                            <div>
                                <span class="title title-color-change">Тел:</span><a class="item"
                                    href="tel:380664969795">
                                    +38
                                    (066) 49-69-795</a>
                            </div>
                            <div>
                                <span class="title title-color-change">Почта:</span><a class="item"
                                    href="mailto:harchenko.es1990@gmail.com"> harchenko.es1990@gmail.com</a>
                            </div>
                        </address>
                        <div class="element">
                            <h3 class="title title-color-change">Технические навыки</h3>
                            <ul class="list">
                                <li class="accent">
                                    <p>HTML5</p>
                                </li>
                                <li class="accent">
                                    <p>CSS3 / SASS</p>
                                </li>

                                <li class="accent">
                                    <p>GIT</p>
                                </li>

                                <li class="accent">
                                    <p>JavaScript</p>
                                </li>
                                <li class="accent">
                                    <p>WebPack</p>
                                </li>

                                <!-- <li class="accent">
                                    <p>React.js</p>
                                </li>
                                <li class="accent">
                    <p>Node.js</p>
                  </li> -->
                            </ul>
                        </div>
                        <div class="element">
                            <h3 class="title title-color-change">Гибкие навыки</h3>
                            <ul class="list">
                                <li class="accent">
                                    <p>Scrum</p>
                                </li>
                                <li class="accent">
                                    <p>Agile</p>
                                </li>
                                <li class="accent">
                                    <p>GTD</p>
                                </li>
                                <li class="accent">
                                    <p>Teamwork</p>
                                </li>
                            </ul>
                        </div>
                    </div>


                </section>
                <section class="about-me">
                    <p class="about-me-info">
                        Я начинающий фронтенд-разработчик. Хочу найти интересную работу в хорошем коллективе с
                        перспективами роста.
                        На данный момент учусь на курсах GoIT. Я уже изучила HTML, CSS, SASS, JavaScript, GIT, Webpack.
                        Мой следующий шаг - изучение React и Node.js. Внимательна к деталям, стремлюсь к pixel perfect,
                        есть опыт командной работы. Отдам предпочтение удаленной работе.
                    </p>
                    <!-- project -->
                    <h3 class="title">Проекты</h3>
                    <ol class="project-list">
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/goit-markup-hw-08/" target="_blank">
                                <span class="text-projects1">WebStudio (HTML5, CSS3, адаптивная верстка)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://zhivotenkoalex.github.io/barbershop/" target="_blank">
                                <span class=" text-projects1">Barbershop (командная работа)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/webdev/" target="_blank"><span class="
                                text-projects1">WebDev
                                    (фиксированная верстка)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/goit-js-hw-08-gallery/" target="_blank">
                                <span class=" text-projects1">Gallery (JavaScript)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/goit-js-hw-10-food-service/index.html"
                                target="_blank">
                                <span class=" text-projects1">Food-service
                                    (JavaScript)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/shaun/" target="_blank"><span
                                    class="text-projects1">Shaun
                                    (шутка)</span></a>
                        </li>
                        <li class=" project-item">
                            <a href="https://olena-kharchenko.github.io/doors/" target="_blank"><span class="
                                        text-projects1">Doors
                                    (шутка)</span></a>
                        </li>
                    </ol>

                    <!--education-->
                    <h3 class="title">Образование</h3>
                    <ul class="list list-education">
                        <li class="accent">
                            <p>Курсы GOIT (HTML+CSS, JavaScript)</p>
                        </li>

                        <li class="accent">
                            <a class="item"
                                href="https://www.freecodecamp.org/certification/olena-kharchenko/javascript-algorithms-and-data-structures"
                                target="_blank">
                                <p>freecodecamp</p>
                            </a>
                        </li>
                        <li class=" accent">
                            <a class="item" href="https://www.codewars.com/users/olena-kharchenko" target="_blank">
                                <p>codewars</p>
                            </a>
                        </li>

                        <li class=" accent">
                            <p>
                                Донецкий Национальный технический университет (Землеустройство и кадастр, сентябрь 2007
                                - январь 2013 | Украина)
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </article>
</main>