<!--main container-->
<main>
    <article class="resume">
        <div class="container">
            <div class="name-container">
                <h2 class="title accent">Front-End розробник</h2>
                <h1 class="title name">Олена Харченко</h1>
            </div>
            <div class="flex-container">
                <section class="contacts-skills">
                    <img class="my-photo" src="./../images/photo.jpg" alt="My photo" />

                    <div class="element-wrapper">
                        <div class="element">
                            <span class="title title-color-change">Мій гітхаб: </span><a class="item"
                                href="https://github.com/olena-kharchenko"
                                target="_blank">https://github.com/olena-kharchenko</a>
                        </div>
                        <h3 class="title title-color-change">Контакти</h3>
                        <address class="contacts element">
                            <div>
                                <span class="title title-color-change">Тел:</span><a class="item"
                                    href="tel:380664969795">
                                    +38
                                    (066) 49-69-795</a>
                            </div>
                            <div>
                                <span class="title title-color-change">Пошта:</span><a class="item"
                                    href="mailto:harchenko.es1990@gmail.com"> harchenko.es1990@gmail.com</a>
                            </div>
                        </address>
                        <div class="element">
                            <h3 class="title title-color-change">Технічні навички</h3>
                            <ul class="list">
                                <li class="accent">
                                    <p>HTML5</p>
                                </li>
                                <li class="accent">
                                    <p>CSS3 / SASS</p>
                                </li>

                                <li class="accent">
                                    <p>GIT</p>
                                </li>

                                <li class="accent">
                                    <p>JavaScript</p>
                                </li>
                                <li class="accent">
                                    <p>WebPack</p>
                                </li>

                                <!-- <li class="accent">
                                    <p>React.js</p>
                                </li>
                                <li class="accent">
                    <p>Node.js</p>
                  </li> -->
                            </ul>
                        </div>
                        <div class="element">
                            <h3 class="title title-color-change">"М'які" навички</h3>
                            <ul class="list">
                                <li class="accent">
                                    <p>Scrum</p>
                                </li>
                                <li class="accent">
                                    <p>Agile</p>
                                </li>
                                <li class="accent">
                                    <p>GTD</p>
                                </li>
                                <li class="accent">
                                    <p>Teamwork</p>
                                </li>
                            </ul>
                        </div>
                    </div>


                </section>
                <section class="about-me">
                    <p class="about-me-info">
                        Я початківець у фронт-енд розробці. Хочу знайти цікаву роботу в хорошому колективі. Зараз
                        я навчаюся на
                        курсах GoIT. Я вже вивчила HTML, CSS, SASS, JavaScript, GIT, Webpack. Мій наступний крок - React
                        і
                        Node.js. Я уважна до деталей, прагну до pixel perfect, доброзичлива, маю досвід
                        роботи в команді. Надам
                        перевагу віддаленій роботі.
                    </p>
                    <!-- project -->
                    <h3 class="title">Проєкти</h3>
                    <ol class="project-list">
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/goit-markup-hw-08/" target="_blank">
                                <span class="text-projects1">WebStudio (HTML5, CSS3, адаптивна верстка)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://zhivotenkoalex.github.io/barbershop/" target="_blank">
                                <span class=" text-projects1">Barbershop (командна робота)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/webdev/" target="_blank"><span class="
                                text-projects1">WebDev
                                    (фіксована верстка)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/goit-js-hw-08-gallery/" target="_blank">
                                <span class=" text-projects1">Gallery (JavaScript)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/goit-js-hw-10-food-service/index.html"
                                target="_blank">
                                <span class=" text-projects1">Food-service
                                    (JavaScript)</span></a>
                        </li>
                        <li class="project-item">
                            <a href="https://olena-kharchenko.github.io/shaun/" target="_blank"><span
                                    class="text-projects1">Shaun
                                    (жарт)</span></a>
                        </li>
                        <li class=" project-item">
                            <a href="https://olena-kharchenko.github.io/doors/" target="_blank"><span class="
                                        text-projects1">Doors
                                    (жарт)</span></a>
                        </li>
                    </ol>

                    <!--education-->
                    <h3 class="title">Освіта</h3>
                    <ul class="list list-education">
                        <li class="accent">
                            <p>Курси GOIT (HTML+CSS, JavaScript)</p>
                        </li>

                        <li class="accent">
                            <a class="item"
                                href="https://www.freecodecamp.org/certification/olena-kharchenko/javascript-algorithms-and-data-structures"
                                target="_blank">
                                <p>freecodecamp</p>
                            </a>
                        </li>
                        <li class=" accent">
                            <a class="item" href="https://www.codewars.com/users/olena-kharchenko" target="_blank">
                                <p>codewars</p>
                            </a>
                        </li>

                        <li class=" accent">
                            <p>
                                Донецький Національний технічний університет (Землеустрій
                                та кадастр, вересень 2007 - січень 2013 | Україна)
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </article>
</main>