@charset "UTF-8";
body {
  background-color: #f1f3f6;
  color: #595959;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  line-height: 1.4;
}

@media screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.resume {
  position: relative;
}

/* @media screen and (min-width: 480px) {
  .resume {
    padding: 15px;
  }
} */

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 1200px;
  background-color: #04442c;
}

@media screen and (max-width: 767px) {
  .container {
    background-color: #ffffff;
  }
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  padding-left: 15px;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Заголовки */
.my-photo {
  display: none;
}

@media screen and (min-width: 768px) {
  .my-photo {
    display: block;

    margin-bottom: 15px;
  }
}

.title {
  margin-bottom: 10px;
  color: #000000;
  font-size: 4vw;
  font-weight: 700;
  -webkit-transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 16px;
  }
}

.title.name {
  font-size: 5vw;
  color: #000000;
  -webkit-transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
  .title.name {
    font-size: 38px;
  }
}

.accent {
  color: #ff6b08;
}

.list p {
  color: #595959;
}

@media screen and (min-width: 768px) {
  .list p {
    color: #ffffff;
  }
}

.list-education p {
  color: #595959;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-style: normal;
}

.contacts .item {
  text-decoration: none;
  color: inherit;
}

.element-wrapper {
  padding-left: 7px;
}

.element {
  margin-bottom: 10px;
}

.element .item {
  color: inherit;
}

.project-list {
  padding-left: 1em;
}

.project-item a {
  color: inherit;
}

.about-me-info {
  margin-bottom: 15px;
}

.contacts-skills {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-skills {
    color: #ffffff;
    /* background-color: #2e8b57; */
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .name-container {
    position: absolute;
    left: 300px;
    top: 70px;
  }
}

@media screen and (min-width: 1000px) {
  .name-container {
    position: absolute;
    left: 33%;
  }
}
.about-me {
  padding-left: 10px;
  padding-right: 15px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-top: 190px;
    padding-left: 50px;
    padding-right: 70px;
    font-size: 16px;
  }
}

.about-me-info {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-me-info {
    display: block;
  }
}

.title-color-change {
  color: #595959;
}
@media screen and (min-width: 768px) {
  .title-color-change {
    color: #caf5d9;
  }
}
/*# sourceMappingURL=main.css.map */

.nav-lang {
  /* position: absolute; */
  max-width: 1200px;

  right: 0;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 auto;

  padding: 0 45px 0 0;
}

.nav-lang li {
  padding: 5px 15px;
  position: relative;
}

.nav-lang li:not(:last-child) {
  margin-right: 5px;
}

.nav-lang a:active,
.nav-lang a {
  text-decoration: none;
  color: #2e8b57;
}

.nav-lang li:hover::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  left: 0;
  bottom: 0;
  transform: translate(50%);

  background-color: #2e8b57;
  border-radius: 2px;
}
